.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.9;
    display: none;
}

.country {
    cursor: pointer;
    fill: gray;
    border-radius: 4px;
}


#mapContainer {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

#correlationMatrix {
    width: 100%;
    border: 1px solid #ccc;
}

#subPlots {
    border: 1px solid #ccc;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-content-responsive {
    width: 100%;   /* Make SVG take full width of its parent */
    height: auto;  /* Maintain aspect ratio */
    display: block; /* Prevent inline SVG spacing issues */
}

