.tooltip {
    font-size: 12px; /* Small font size */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: #fff; /* White text color for contrast */
    padding: 8px; /* Padding around text */
    border-radius: 4px; /* Rounded corners for a cleaner look */
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    position: absolute; /* Ensure tooltip can be positioned freely */
    display: none;
}


#tooltipMatrix {
    font-size: 12px; /* Small font size */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    color: #fff; /* White text color for contrast */
    padding: 8px; /* Padding around text */
    border-radius: 4px; /* Rounded corners for a cleaner look */
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    position: absolute; /* Ensure tooltip can be positioned freely */

}

.country {
    cursor: pointer;
    fill: gray;
    border-radius: 4px;
}


#mapContainer {
    width: 100%;
    border: 1px solid #ccc;
}

#matrixContainer {
}

#correlationMatrix {
    width: 100%;
    border: 1px solid #ccc;
}

#subplot {
    border: 1px solid #ccc;
}

#subplots {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

#mainContainer {
    margin-top: 3.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}



#map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-content-responsive {
    width: 100%;   /* Make SVG take full width of its parent */
    height: 100%;  /* Maintain aspect ratio */
}

.dropdown {
    padding-right: 2rem; /* Space for arrow */
    position: relative;
}

/* Custom arrow */
.dropdown::after {
    content: "▼";
    position: absolute;
    right: 0.75rem; /* Adjusts the arrow to the right */
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    color: #888;
    pointer-events: none;
}

/* Hover effect with thicker border */
.dropdown:hover {
    border-color: #666;
}

